<aside class="dashboard-sidebar glass-card">

  <!-- LOGO -->

  <div class="sidebar-logo">

    <img
      src="assets/logos/logo.png"
      alt="Logo"
      class="logo"
    >

    <div>

      <h3>KrishiMitra AI</h3>

      <p>AI Farming System</p>

    </div>

  </div>

  <!-- NAVIGATION -->

  <nav class="sidebar-nav">

    <a href="dashboard.html" class="active">
      📊 Dashboard
    </a>

    <a href="recommendation.html">
      🌱 Recommendations
    </a>

    <a href="monitoring.html">
      📷 Monitoring
    </a>

    <a href="simulation.html">
      🧠 Simulation
    </a>

    <a href="schemes.html">
      🏛️ Schemes
    </a>

    <a href="alerts.html">
      🚨 Alerts
    </a>

    <a href="profile.html">
      👤 Profile
    </a>

  </nav>

  <!-- BOTTOM -->

  <div class="sidebar-bottom">

    <div class="glass-card sidebar-ai-card">

      <h4>AI Farming Score</h4>

      <h2 class="ai-number">94%</h2>

    </div>

  </div>

</aside>